# Imports

In [36]:
import os
from ast import literal_eval
import pandas as pd
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Table, Column, ForeignKey
from sqlalchemy import types
from sqlalchemy.orm import declarative_base, relationship
from dotenv import load_dotenv

load_dotenv()

True

# Merging Coins Files

In [11]:
coins_df = pd.read_csv("../datasets/coins.csv")
coins_df = coins_df.rename(
    columns={
        "Rank": "rank",
        "Name": "name",
        "Symbol": "symbol",
        "Main Link": "main_link",
        "Historical Link": "historical_link",
        "Price": "current_price",
        "Market Cap": "current_market_cap",
        "Volume(24 Hour)": "volume_24_hour",
        "Circulating Supply": "circulating_supply",
    }
)

coins_df["id"] = coins_df["rank"]
coins_cols = coins_df.columns.tolist()
coins_cols = coins_cols[-1:] + coins_cols[:-1]
coins_df = coins_df[coins_cols]

github_col = coins_df["GitHub Link"]
tags_col = coins_df["Tags"]
coins_df = coins_df.drop(columns=["GitHub Link", "Tags"])

coins_df.to_csv("datasets/coins", index=False)

In [10]:
coins_df.head()

,id,rank,name,symbol,current_price,current_market_cap,volume_24_hour,circulating_supply,main_link,historical_link
0,1,1,Bitcoin,BTC,26047.6700,5.070902e+11,1.240605e+10,19467775,https://coinmarketcap.com/currencies/bitcoin/,https://coinmarketcap.com/currencies/bitcoin/h...
1,2,2,Ethereum,ETH,1652.9400,1.987100e+11,5.396998e+09,120216444,https://coinmarketcap.com/currencies/ethereum/,https://coinmarketcap.com/currencies/ethereum/...
2,3,3,Tether USDt,USDT,0.9995,8.280725e+10,1.999915e+10,82849133566,https://coinmarketcap.com/currencies/tether/,https://coinmarketcap.com/currencies/tether/hi...
3,4,4,BNB,BNB,218.3300,3.359048e+10,4.238911e+08,153851122,https://coinmarketcap.com/currencies/bnb/,https://coinmarketcap.com/currencies/bnb/histo...
4,5,5,XRP,XRP,0.5262,2.784588e+10,1.067427e+09,52914193551,https://coinmarketcap.com/currencies/xrp/,https://coinmarketcap.com/currencies/xrp/histo...

# Creating Tags

In [22]:
t = pd.concat([coins_df[["rank", "name"]], tags_col], axis=1)

rows = []
for rank, _, tag_list in t.drop(t[t["Tags"] == "No Tags"].index).values:
    for tag in literal_eval(tag_list):
        rows.append({"coin_id": rank, "tag": tag})

tags_df = pd.DataFrame.from_dict(rows)
tags_df.to_csv("datasets/tags", index=False)

# Creating Github Links

In [21]:
github_df = pd.concat([coins_df["rank"], github_col], axis=1)

github_df = github_df.rename(
    columns={"rank": "coin_id", "GitHub Link": "link"}
)
github_df.to_csv("datasets/githubs", index=False)

# Merging All History Files

In [25]:
histories_file_list = os.listdir("../datasets/history/")
history_dfs = []

for history in histories_file_list:
    dir = "../datasets/history/" + history
    df = pd.read_csv(dir, sep=";")
    df["name"] = history.split("_")[0]
    history_dfs.append(df)

histories_df = pd.concat(history_dfs)
histories_df = histories_df.reset_index().drop(columns=["index"])

histories_df = coins_df.merge(histories_df, on="name")[
    [*histories_df.columns, "id"]
]
histories_df = histories_df.rename(
    columns={
        "timeOpen": "time_open",
        "timeClose": "time_close",
        "timeHigh": "time_high",
        "timeLow": "time_low",
        "marketCap": "market_cap",
        "id": "coin_id",
    }
)

histories_cols = histories_df.columns.tolist()
histories_cols = histories_cols[-1:] + histories_cols[:-1]
histories_df = histories_df[histories_cols]
histories_df = histories_df.drop(columns=["name"])
histories_df.to_csv("datasets/histories", index=False)

# Final Data Overview

In [48]:
coins = pd.read_csv("./datasets/coins")
tags = pd.read_csv("./datasets/tags")
histories = pd.read_csv("./datasets/histories", parse_dates=["time_open", "time_close", "time_high", "time_low", "timestamp"])
githubs = pd.read_csv("./datasets/githubs")

In [49]:
coins.columns

Index(['id', 'rank', 'name', 'symbol', 'current_price', 'current_market_cap',
       'volume_24_hour', 'circulating_supply', 'main_link', 'historical_link'],
      dtype='object')

In [50]:
tags.columns

Index(['coin_id', 'tag'], dtype='object')

In [51]:
githubs.columns

Index(['coin_id', 'link'], dtype='object')

In [52]:
histories.columns

Index(['coin_id', 'time_open', 'time_close', 'time_high', 'time_low', 'open',
       'high', 'low', 'close', 'volume', 'market_cap', 'timestamp'],
      dtype='object')

In [53]:
coins.shape, tags.shape, histories.shape

((200, 10), (557, 2), (63836, 12))

# Database Creation

In [54]:
USERNAME = os.getenv("MYSQL_USERNAME")
PASSWORD = os.getenv("MYSQL_PASSWORD")
SERVER = os.getenv("MYSQL_SERVER")
DATABASE = os.getenv("MYSQL_DATABASE")

Base = declarative_base()

meta = MetaData()
engine = create_engine(
    f"mysql+pymysql://{USERNAME}:{PASSWORD}@{SERVER}:3306/{DATABASE}", echo=True
)
connection = engine.connect()

2023-09-03 19:38:21,901 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-03 19:38:21,909 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:21,921 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-03 19:38:21,927 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:21,944 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-03 19:38:21,947 INFO sqlalchemy.engine.Engine [raw sql] {}

### Coin Table

In [55]:
coins.head(1)

,id,rank,name,symbol,current_price,current_market_cap,volume_24_hour,circulating_supply,main_link,historical_link
0,1,1,Bitcoin,BTC,26047.67,5.070902e+11,1.240605e+10,19467775,https://coinmarketcap.com/currencies/bitcoin/,https://coinmarketcap.com/currencies/bitcoin/h...

In [56]:
class Coin(Base):
    __tablename__ = "coins"

    id = Column(types.Integer, primary_key=True, autoincrement=True)
    rank = Column(types.BigInteger)
    name = Column(types.String(255), primary_key=True)
    symbol = Column(types.String(255))
    main_link = Column(types.Text)
    historical_link = Column(types.Text)
    current_price = Column(types.Float(32))
    current_market_cap = Column(types.Float(32))
    volume_24_hour = Column(types.Float(32))
    circulating_supply = Column(types.BigInteger)

    tags = relationship("Tag", back_populates="coin")
    history = relationship("History", back_populates="coin")

    def __repr__(self):
        return f"Coin Name: {self.name} with Rank: {self.rank}"

### Tags Table

In [57]:
tags.head(1)

   coin_id       tag
0        1  Mineable

In [58]:
class Tag(Base):
    __tablename__ = "tags"

    id = Column(types.BigInteger, primary_key=True, autoincrement=True)
    coin_id = Column(types.Integer, ForeignKey("coins.id"), nullable=False)
    tag = Column(types.String(255))

    coin = relationship("Coin", backref="tags")

    def __repr__(self):
        return f"Tag Name: {self.tag}"

### Githubs Table

In [59]:
githubs.head(1)

   coin_id                                link
0        1  https://github.com/bitcoin/bitcoin

In [60]:
class Github(Base):
    __tablename__ = "githubs"

    id = Column(types.Integer, primary_key=True, autoincrement=True)
    coin_id = Column(types.Integer, ForeignKey("coins.id"), nullable=False)
    link = Column(types.Text)

    coin = relationship("Coin", backref="tags")

    def __repr__(self):
        return f"Github Link: {self.link}"

### History Table

In [61]:
histories.head(1)

,coin_id,time_open,time_close,time_high,time_low,open,high,low,close,volume,market_cap,timestamp
0,1,2023-08-31 00:00:00+00:00,2023-08-31 23:59:59.999000+00:00,2023-08-31 11:43:00+00:00,2023-08-31 21:09:00+00:00,27301.929317,27456.079001,25752.929947,25931.472893,2.018100e+10,5.049576e+11,2023-08-31 23:59:59.999000+00:00

In [62]:
class History(Base):
    __tablename__ = "history"

    id = Column(types.BigInteger, primary_key=True, autoincrement=True)
    coin_id = Column(types.Integer, ForeignKey("coins.id"), nullable=False)
    time_open = Column(types.DateTime)
    time_close = Column(types.DateTime)
    time_high = Column(types.DateTime)
    time_low = Column(types.DateTime)
    open = Column(types.Float(32))
    high = Column(types.Float(32))
    low = Column(types.Float(32))
    close = Column(types.Float(32))
    volume = Column(types.Float(32))
    market_cap = Column(types.Float(32))
    timestamp = Column(types.DateTime)

    history = relationship("Coin", back_populates="history")

    def __repr__(self):
        return f"Coin Name: {self.coin_id}"

### Tables Creation

In [63]:
Base.metadata.create_all(engine)

2023-09-03 19:38:22,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-03 19:38:22,364 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`coins`
2023-09-03 19:38:22,365 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:22,368 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`tags`
2023-09-03 19:38:22,369 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:22,371 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`githubs`
2023-09-03 19:38:22,372 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:22,375 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`history`
2023-09-03 19:38:22,376 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:22,379 INFO sqlalchemy.engine.Engine
CREATE TABLE coins (
	id INTEGER NOT NULL AUTO_INCREMENT,
	`rank` BIGINT,
	name VARCHAR(255) NOT NULL,
	symbol VARCHAR(255),
	main_link TEXT,
	historical_link TEXT,
	current_price FLOAT(32),
	current_market_cap FLOAT(32),
	volume_24_hour FLOAT(32),
	circulating_supply BIGINT,
	PRIMARY KEY (id, name)
)


2023-09-03 19:38:22,380 INFO sqlalchemy.engine.Engine [no key 0.00128s] {}
2023-09-03 19:38:22,407 INFO sqlalchemy.engine.Engine
CREATE TABLE tags (
	id BIGINT NOT NULL AUTO_INCREMENT,
	coin_id INTEGER NOT NULL,
	tag VARCHAR(255),
	PRIMARY KEY (id),
	FOREIGN KEY(coin_id) REFERENCES coins (id)
)


2023-09-03 19:38:22,408 INFO sqlalchemy.engine.Engine [no key 0.00175s] {}
2023-09-03 19:38:22,558 INFO sqlalchemy.engine.Engine
CREATE TABLE githubs (
	id INTEGER NOT NULL AUTO_INCREMENT,
	coin_id INTEGER NOT NULL,
	link TEXT,
	PRIMARY KEY (id),
	FOREIGN KEY(coin_id) REFERENCES coins (id)
)


2023-09-03 19:38:22,566 INFO sqlalchemy.engine.Engine [no key 0.00740s] {}
2023-09-03 19:38:22,876 INFO sqlalchemy.engine.Engine
CREATE TABLE history (
	id BIGINT NOT NULL AUTO_INCREMENT,
	coin_id INTEGER NOT NULL,
	time_open DATETIME,
	time_close DATETIME,
	time_high DATETIME,
	time_low DATETIME,
	open FLOAT(32),
	high FLOAT(32),
	low FLOAT(32),
	close FLOAT(32),
	volume FLOAT(32),
	market_cap FLOAT(32),
	timestamp DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(coin_id) REFERENCES coins (id)
)


2023-09-03 19:38:22,883 INFO sqlalchemy.engine.Engine [no key 0.00735s] {}
2023-09-03 19:38:23,250 INFO sqlalchemy.engine.Engine COMMIT

# Data Insertion

In [64]:
coins.to_sql("coins", engine, if_exists="append", index=False)

2023-09-03 19:38:28,424 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-03 19:38:28,429 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`coins`
2023-09-03 19:38:28,430 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:28,440 INFO sqlalchemy.engine.Engine INSERT INTO coins (id, `rank`, name, symbol, current_price, current_market_cap, volume_24_hour, circulating_supply, main_link, historical_link) VALUES (%(id)s, %(rank)s, %(name)s, %(symbol)s, %(current_price)s, %(current_market_cap)s, %(volume_24_hour)s, %(circulating_supply)s, %(main_link)s, %(historical_link)s)
2023-09-03 19:38:28,441 INFO sqlalchemy.engine.Engine [generated in 0.00245s] [{'id': 1, 'rank': 1, 'name': 'Bitcoin', 'symbol': 'BTC', 'current_price': 26047.67, 'current_market_cap': 507090156466.71, 'volume_24_hour': 12406045117.51, 'circulating_supply': 19467775, 'main_link': 'https://coinmarketcap.com/currencies/bitcoin/', 'historical_link': 'https://coinmarketcap.com/currencies/bitcoin/historical-data/'}, {'id': 2, 'rank': 2, 'name': 'Ethereum', 'symbol': 'ETH', 'current_price': 1652.94, 'current_market_cap': 198709982386.16, 'volume_24_hour': 5396997822.81, 'circulating_supply': 120216444, 'main_link': 'https://coinmarketcap.com/currencies/ethereum/', 'historical_link': 'https://coinmarketcap.com/currencies/ethereum/historical-data/'}, {'id': 3, 'rank': 3, 'name': 'Tether USDt', 'symbol': 'USDT', 'current_price': 0.9995, 'current_market_cap': 82807252662.66, 'volume_24_hour': 19999153581.65, 'circulating_supply': 82849133566, 'main_link': 'https://coinmarketcap.com/currencies/tether/', 'historical_link': 'https://coinmarketcap.com/currencies/tether/historical-data/'}, {'id': 4, 'rank': 4, 'name': 'BNB', 'symbol': 'BNB', 'current_price': 218.33, 'current_market_cap': 33590478887.3, 'volume_24_hour': 423891091.63, 'circulating_supply': 153851122, 'main_link': 'https://coinmarketcap.com/currencies/bnb/', 'historical_link': 'https://coinmarketcap.com/currencies/bnb/historical-data/'}, {'id': 5, 'rank': 5, 'name': 'XRP', 'symbol': 'XRP', 'current_price': 0.5262, 'current_market_cap': 27845876512.16, 'volume_24_hour': 1067427241.27, 'circulating_supply': 52914193551, 'main_link': 'https://coinmarketcap.com/currencies/xrp/', 'historical_link': 'https://coinmarketcap.com/currencies/xrp/historical-data/'}, {'id': 6, 'rank': 6, 'name': 'USD Coin', 'symbol': 'USDC', 'current_price': 1.0001, 'current_market_cap': 25919090832.39, 'volume_24_hour': 2870155394.25, 'circulating_supply': 25916750966, 'main_link': 'https://coinmarketcap.com/currencies/usd-coin/', 'historical_link': 'https://coinmarketcap.com/currencies/usd-coin/historical-data/'}, {'id': 7, 'rank': 7, 'name': 'Cardano', 'symbol': 'ADA', 'current_price': 0.2611, 'current_market_cap': 9152956074.04, 'volume_24_hour': 226745371.9, 'circulating_supply': 35058106675, 'main_link': 'https://coinmarketcap.com/currencies/cardano/', 'historical_link': 'https://coinmarketcap.com/currencies/cardano/historical-data/'}, {'id': 8, 'rank': 8, 'name': 'Dogecoin', 'symbol': 'DOGE', 'current_price': 0.06308, 'current_market_cap': 8878470592.73, 'volume_24_hour': 202977283.44, 'circulating_supply': 140739636384, 'main_link': 'https://coinmarketcap.com/currencies/dogecoin/', 'historical_link': 'https://coinmarketcap.com/currencies/dogecoin/historical-data/'}  ... displaying 10 of 200 total bound parameter sets ...  {'id': 199, 'rank': 199, 'name': 'Status', 'symbol': 'SNT', 'current_price': 0.02173, 'current_market_cap': 83853059.08, 'volume_24_hour': 1634389.39, 'circulating_supply': 3859423502, 'main_link': 'https://coinmarketcap.com/currencies/status/', 'historical_link': 'https://coinmarketcap.com/currencies/status/historical-data/'}, {'id': 200, 'rank': 200, 'name': 'Amp', 'symbol': 'AMP', 'current_price': 0.001954, 'current_market_cap': 82508280.5, 'volume_24_hour': 3079303.02, 'circulating_supply': 42227702186, 'main_link': 'https://coinmarketcap.com/currencies/amp/', 'historical_link': 'https://coinmarketcap.com/currencies/amp/historical-data/'}]
2023-09-03 19:38:28,487 INFO sqlalchemy.engine.Engine COMMIT

200

In [65]:
githubs.to_sql("githubs", engine, if_exists="append", index=False)

2023-09-03 19:38:30,468 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-03 19:38:30,470 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`githubs`
2023-09-03 19:38:30,471 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:30,480 INFO sqlalchemy.engine.Engine INSERT INTO githubs (coin_id, link) VALUES (%(coin_id)s, %(link)s)
2023-09-03 19:38:30,482 INFO sqlalchemy.engine.Engine [generated in 0.00292s] [{'coin_id': 1, 'link': 'https://github.com/bitcoin/bitcoin'}, {'coin_id': 2, 'link': 'https://github.com/ethereum/go-ethereum'}, {'coin_id': 3, 'link': 'No GitHub Link'}, {'coin_id': 4, 'link': 'https://github.com/bnb-chain'}, {'coin_id': 5, 'link': 'https://github.com/ripple/rippled'}, {'coin_id': 6, 'link': 'https://github.com/centrehq/centre-tokens'}, {'coin_id': 7, 'link': 'https://cardanoupdates.com/'}, {'coin_id': 8, 'link': 'https://github.com/dogecoin/dogecoin'}  ... displaying 10 of 200 total bound parameter sets ...  {'coin_id': 199, 'link': 'https://github.com/status-im'}, {'coin_id': 200, 'link': 'https://github.com/amptoken'}]
2023-09-03 19:38:30,498 INFO sqlalchemy.engine.Engine COMMIT

200

In [66]:
tags.to_sql("tags", engine, if_exists="append", index=False)

2023-09-03 19:38:33,033 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-03 19:38:33,036 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`tags`
2023-09-03 19:38:33,038 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:33,047 INFO sqlalchemy.engine.Engine INSERT INTO tags (coin_id, tag) VALUES (%(coin_id)s, %(tag)s)
2023-09-03 19:38:33,049 INFO sqlalchemy.engine.Engine [generated in 0.00253s] [{'coin_id': 1, 'tag': 'Mineable'}, {'coin_id': 1, 'tag': 'PoW'}, {'coin_id': 1, 'tag': 'SHA-256'}, {'coin_id': 2, 'tag': 'PoS'}, {'coin_id': 2, 'tag': 'Smart Contracts'}, {'coin_id': 2, 'tag': 'Ethereum Ecosystem'}, {'coin_id': 3, 'tag': 'Payments'}, {'coin_id': 3, 'tag': 'Stablecoin'}  ... displaying 10 of 557 total bound parameter sets ...  {'coin_id': 200, 'tag': 'SEC Security Token'}, {'coin_id': 200, 'tag': 'Alleged SEC Securities'}]
2023-09-03 19:38:33,076 INFO sqlalchemy.engine.Engine COMMIT

557

In [67]:
histories.to_sql("history", engine, if_exists="append", index=False)

2023-09-03 19:38:35,053 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-03 19:38:35,058 INFO sqlalchemy.engine.Engine DESCRIBE `coinmarketplace`.`history`
2023-09-03 19:38:35,059 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-03 19:38:36,962 INFO sqlalchemy.engine.Engine INSERT INTO history (coin_id, time_open, time_close, time_high, time_low, open, high, low, close, volume, market_cap, timestamp) VALUES (%(coin_id)s, %(time_open)s, %(time_close)s, %(time_high)s, %(time_low)s, %(open)s, %(high)s, %(low)s, %(close)s, %(volume)s, %(market_cap)s, %(timestamp)s)
2023-09-03 19:38:36,966 INFO sqlalchemy.engine.Engine [generated in 1.48554s] [{'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 31, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 31, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 31, 11, 43, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 31, 21, 9, tzinfo=datetime.timezone.utc), 'open': 27301.9293168046, 'high': 27456.0790013622, 'low': 25752.9299469294, 'close': 25931.4728933574, 'volume': 20181001451.19, 'market_cap': 504957555550.64, 'timestamp': datetime.datetime(2023, 8, 31, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 30, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 30, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 30, 0, 21, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 30, 15, 4, tzinfo=datetime.timezone.utc), 'open': 27726.0840340273, 'high': 27760.1593966037, 'low': 27069.2074245836, 'close': 27297.2653483206, 'volume': 16343655235.34, 'market_cap': 531528938704.34, 'timestamp': datetime.datetime(2023, 8, 30, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 29, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 29, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 29, 16, 28, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 29, 10, 39, tzinfo=datetime.timezone.utc), 'open': 26102.4858320026, 'high': 28089.3380271543, 'low': 25912.6289086749, 'close': 27727.3930090424, 'volume': 29368391711.99, 'market_cap': 539882481562.26, 'timestamp': datetime.datetime(2023, 8, 29, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 28, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 28, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 28, 12, 29, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 28, 7, 46, tzinfo=datetime.timezone.utc), 'open': 26089.6149228858, 'high': 26198.5790644484, 'low': 25880.6002488905, 'close': 26106.1500439649, 'volume': 11002805166.45, 'market_cap': 508288516574.2, 'timestamp': datetime.datetime(2023, 8, 28, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 27, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 27, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 27, 17, 2, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 27, 1, 43, tzinfo=datetime.timezone.utc), 'open': 26008.2418008294, 'high': 26165.3724382761, 'low': 25965.0975389949, 'close': 26089.6934716635, 'volume': 6913768611.22, 'market_cap': 507949530130.7, 'timestamp': datetime.datetime(2023, 8, 27, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 26, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 26, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 26, 2, 17, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 26, 12, 46, tzinfo=datetime.timezone.utc), 'open': 26047.2352396372, 'high': 26107.3842905801, 'low': 25983.8782739266, 'close': 26008.462659668, 'volume': 6034817316.31, 'market_cap': 506348824288.34, 'timestamp': datetime.datetime(2023, 8, 26, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 25, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 25, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 25, 14, 17, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 25, 14, 57, tzinfo=datetime.timezone.utc), 'open': 26163.6800536736, 'high': 26248.1034276033, 'low': 25786.8124616266, 'close': 26047.6688510481, 'volume': 12406045117.51, 'market_cap': 507090156466.72, 'timestamp': datetime.datetime(2023, 8, 25, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 1, 'time_open': datetime.datetime(2023, 8, 24, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2023, 8, 24, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2023, 8, 24, 9, 10, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2023, 8, 24, 17, 39, tzinfo=datetime.timezone.utc), 'open': 26431.5198924678, 'high': 26554.9098173772, 'low': 25914.9255589463, 'close': 26162.3724949505, 'volume': 12871532023.01, 'market_cap': 509301597240.58, 'timestamp': datetime.datetime(2023, 8, 24, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}  ... displaying 10 of 63836 total bound parameter sets ...  {'coin_id': 200, 'time_open': datetime.datetime(2022, 9, 3, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2022, 9, 3, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2022, 9, 3, 13, 50, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2022, 9, 3, 10, 6, tzinfo=datetime.timezone.utc), 'open': 0.00602181336853, 'high': 0.00611265568062, 'low': 0.00598566303481, 'close': 0.00601379397087, 'volume': 4344135.26, 'market_cap': 253948700.81, 'timestamp': datetime.datetime(2022, 9, 3, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}, {'coin_id': 200, 'time_open': datetime.datetime(2022, 9, 2, 0, 0, tzinfo=datetime.timezone.utc), 'time_close': datetime.datetime(2022, 9, 2, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc), 'time_high': datetime.datetime(2022, 9, 2, 0, 3, tzinfo=datetime.timezone.utc), 'time_low': datetime.datetime(2022, 9, 2, 2, 39, tzinfo=datetime.timezone.utc), 'open': 0.00617134242139, 'high': 0.00617402538226, 'low': 0.00599576019532, 'close': 0.00602548160256, 'volume': 7025523.16, 'market_cap': 254442242.64, 'timestamp': datetime.datetime(2022, 9, 2, 23, 59, 59, 999000, tzinfo=datetime.timezone.utc)}]
2023-09-03 19:38:48,146 INFO sqlalchemy.engine.Engine COMMIT

63836